.home-main-section {
  display: flex;
  align-items: stretch;
  justify-content: space-between;
  flex-grow: 1;
}
.home-main-section .img-wrapper {
  display: flex;
  flex-grow: 1;
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-end;
}

.home-main-section .joe-image {
  background-image: url(assets/joe-strummersinging.png);
  flex-grow: 1;
  max-height: 70vh;
  min-width: 30vw;
  background-repeat: no-repeat;
  background-position: bottom left;
  background-size: contain;
}

.home-main-section .call-to-action {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin: 1rem;
  align-self: center;
}

@media (max-width: 900px) {
  .home-main-section .img-wrapper {
    display: none;
  }
  .home-main-section {
    justify-content: center;
  }
}

.home-page-circle1 {
  position: absolute;
  height: 25vw;
  width: 25vw;
  border-radius: 50%;
  background-color: rgba(218, 32, 20, 0.1);
  bottom: 10vh;
  left: 15vw;
  z-index: -1;
}
.home-page-circle2 {
  position: absolute;
  height: 25vw;
  width: 25vw;
  border-radius: 50%;
  background: linear-gradient(
    180deg,
    rgba(204, 124, 93, 0.267) 0%,
    rgba(225, 29, 29, 0.958) 100%
  );

  /* background-color: rgba(188, 58, 128, 0.5); */
  bottom: 12vh;
  left: 45vw;
  z-index: -1;
}

.home-page-circle3 {
  overflow: hidden;
  position: absolute;
  height: 45vw;
  width: 45vw;

  /* background-color: rgba(188, 58, 128, 0.5); */
  bottom: 0;
  right: 0;
  z-index: -1;
}

.home-page-circle3::before {
  position: absolute;
  content: "";
  transform: translate(40%, 40%);
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background: linear-gradient(
    180deg,
    rgba(29, 82, 225, 0.3) 90%,
    rgba(225, 29, 29, 0.3) 90%
  );
}
